/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/* layers: higher number means higher precedence */
#define _DVORAK 0
#define _SYMBOL 1
#define _NAVNUM 2
#define _FUNCTN 3

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "DVORAK";
// -----------------------------------------------------------------------------------------
// | TAB |  /  |  ,  |  .  |  P  |  Y  |   |  F  |  G  |  L  |  R  |  Z  | \   |
// | ESC |  A  |  O  |  E  |  I  |  U  |   |  D  |  H  |  T  |  N  |  S  | RET |
// | SHF |  ;  |  Q  |  J  |  K  |  X  |   |  B  |  M  |  W  |  V  |  C  | SHF |
//                   | GUI | LWR | BSP |   | CTL | SPC | ALT |
                        bindings = <
    &kp TAB     &kp FSLH    &kp COMMA   &kp DOT     &kp P   &kp Y       &kp F   &kp G   &kp L   &kp R   &kp Z   &kp BSLH
    &kp ESC     &kp A       &kp O       &kp E       &kp I   &kp U       &kp D   &kp H   &kp T   &kp N   &kp S   &kp RET
    &kp LSHFT   &kp SEMI    &kp Q       &kp J       &kp K   &kp X       &kp B   &kp M   &kp W   &kp V   &kp C   &kp RSHFT
                                &kp LGUI    &mo _SYMBOL   &kp BSPC      &kp RCTL    &lt _NAVNUM SPACE   &kp RALT
                        >;
                };

                symbol_layer {
                        label = "SYMBOL";
// -----------------------------------------------------------------------------------------
// |     |  ?  |  &  |  *  |  <  |  >  |   |  ~  |  _  |  [  |  ]  |  =  |  |  |
// |     | --- |  $  |  %  |  ^  |  '  |   |  "  |  {  |  (  |  )  |  }  |     |
// |     | --- |  !  |  @  |  #  |  `  |   |  :  |  *  |  -  |  +  |  /  |     |
//                   |     |     |     |   |     |     |     |
                        bindings = <
   &trans   &kp QMARK   &kp AMPS    &kp ASTRK   &kp LT      &kp GT      &kp TILDE   &kp UNDER   &kp LBKT    &kp RBKT    &kp EQUAL   &trans
   &trans   &none       &kp DLLR    &kp PRCNT   &kp CARET   &kp SQT     &kp DQT     &kp LBRC    &kp LPAR    &kp RPAR    &kp RBRC    &trans
   &trans   &none       &kp EXCL    &kp AT      &kp POUND   &kp GRAVE   &kp COLON   &kp ASTRK   &kp MINUS   &kp PLUS    &kp FSLH    &trans
                                    &trans      &trans      &trans      &trans      &trans      &trans
                        >;
                };

                navnum_layer {
                        label = "NAVNUM";
// -----------------------------------------------------------------------------------------
// |     | --- |  7  |  8  |  9  | --- |   | --- |  _  | BRD | BRU |  =  | --- |
// |     | --- |  4  |  5  |  6  |  0  |   | LFT | DWN |  UP | RGT | --- |     |
// |     |  ;  |  1  |  2  |  3  |  x  |   | --- |  *  |  -  |  +  |  /  |     |
//                   |     |     |     |   |     |     |     |
                        bindings = <
   &trans   &none       &kp N7  &kp N8  &kp N9  &none       &none       &kp UNDER   &kp C_BRI_DN    &kp C_BRI_UP    &kp EQUAL   &none
   &trans   &none       &kp N4  &kp N5  &kp N6  &kp N0      &kp LEFT    &kp DOWN    &kp UP          &kp RIGHT       &none       &trans
   &trans   &kp SEMI    &kp N1  &kp N2  &kp N3  &kp X       &none       &kp ASTRK   &kp MINUS       &kp PLUS        &kp FSLH    &trans
                                &trans  &trans  &trans      &trans      &trans      &trans
                        >;
                };
        };
};
